img {
  display: flex;
  width: 100%;
}
.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
  text-align: center;
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-secondary-color);
  line-height: 1.75rem;
  text-align: center;
}

.offer__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem 1rem;
}

.offer__card img {
  margin-bottom: 1rem;
  border-radius: var(--default-xs-border-radius);
}

.offer__details {
  display: flex;
  align-items: flex-start;
}

.offer__details span {
  font-size: 2rem;
  font-weight: var(--font-weight-extrabold);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-secondary-color);
  padding-right: 1rem;
}

.offer__details div {
  padding-left: 1rem;
  border-left: 2px solid var(--primary-color);
}

.offer__details h4 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  color: var(--text-secondary-color);
}

.offer__details p {
  color: var(--text-color);
}

@media (width > 540px) {
  .offer__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  .offer__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
