.section__container {
  margin: auto;
  padding: 4rem 1rem;
  max-width: 1200px;
}

.header__container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__container h1 {
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold);
  color: var(--heading-color);
  text-align: center;
  line-height: clamp(3rem, 6vw, 5.5rem);
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-color);
  line-height: 1.75rem;
  text-align: center;
}

@media (max-width: 768px) {
  .section__container {
    padding: 3rem 1rem;
  }

  .header__container h1,
  .header__container p {
    line-height: 1.4;
  }
}
