.client__card img {
  max-width: 80px;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  box-shadow: var(--default-shadow-color);
}

.client__card p {
  margin-bottom: 1rem;
  line-height: 1.75rem;
  color: var(--text-secondary-color);
  text-align: center;
}

.client__ratings {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-semibold);
  color: var(--heading-color);
  text-align: center;
}

.client__card h5 {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  color: var(--heading-color);
  text-align: center;
}
