:root {
  --primary-color: #696cff;
  --primary-color-dark: #5659cc;
  --text-dark: #111827;
  --text-light: #475569;
  --extra-light: #e5e5e5;
  --white: #ffffff;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  margin-inline: auto;
  z-index: 9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
}

.nav__logo h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--extra-light);
  transition: 0.5s;
  z-index: -1;
}

.nav__links a {
  white-space: nowrap;
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--primary-color);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }
}
